body{
    overflow: hidden;
    box-sizing: border-box;
}
.signIn-container{
    height: 99vh;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signIn-form-container{
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 1px solid white;
    padding: 20px;
    border-radius: 5px;
}

.signIn-form-container h2{
    font-size: 50px;
    font-weight: 300;
    text-align: center;
}

.signIn-form-container .label{
    margin-top: 10px;
}

.signIn-form-container .input, .signIn-form-container  textarea{
    width: 95%;
    padding: 7px 10px;
    font-size: 18px;
    border-radius: 5px;
    background: transparent;
    outline: none;
    border: 1px solid white;
    color: #b8c1ec;
}

.checkbox-container{
    display: flex;
    justify-content: start;
    align-items: center;
    /* margin-bottom: 10px; */
}
.register-link{
    color: aqua;
}
.login-link{
    color: aqua;
}

.signin_error{
    color: red;
    text-align: center;
}

.signup_msg{
    color: green;
    text-align: center;
}