body{
    background-color: #232946;
    color: #b8c1ec;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    color: #fffffe;
    margin: 0;
}

main{
    padding: 0 200px;
    
}

header{
    text-align: center;
    font-size: 1.2em;
    margin: 20px;
}

.btn{
    color: #232946;
    background-color: #eebbc3;
    outline: none;
    border: none;
    font-size: 20px;
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    /* color: #232946; */
    background-color: #fffffe;
}

.btn-details{
    color: white;
    background-color: #7cdf6b;
    outline: none;
    border: none;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-edit{
    color: white;
    background-color: #66c3e4;
    outline: none;
    border: none;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-delete{
    color: white;
    background-color: #e46666;
    outline: none;
    border: none;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.main-content{
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.studentContainer{
    padding-left: 20px;
    border-left: 1px solid white;
}

.logoutContainer{
    display: flex; 
    justify-content:space-between; 
    align-items:center
}

.table-container{
    display: flex;
}
.table-container table{
    width: 100%;
    justify-content: center;
    /* align-content: center; */
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    /* background-color: ; */
  }